.checkbox {
  display: flex;
  margin-bottom: 30px;
  &__custom-box {
    display: inline-block;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    margin-right: 8.38px;
    border: 2px solid $primaryColor;
  }
  &__icon {
    opacity: 0;
    background: $accentColor;
  }
  &__text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font: inherit;
    color: $secondaryColor;
  }
  &__link {
    color: $accentColor;
    text-decoration-line: underline;
    line-height: 1.71;
  }
}
.checkbox__body {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &:checked ~ .checkbox__text .checkbox__icon {
    opacity: 1;
    background-size: contain;
  }
  &:checked ~ .checkbox__text .checkbox__custom-box {
    border-color: $accentColor;
    background-color: $accentColor;
  }
}

.checkbox__button {
  display: flex;
  background: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $lightColor;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px 10px 56px;
  margin: auto;
  cursor: pointer;
  transition: background-color $transitionDuration $timingFunction;

  &:hover,
  &:focus {
    background-color: $hoverColor;
  }
}