.header {
  display: flex;
  position: relative;
  min-height: 60px;
  align-items: center;
  border-bottom: 1px solid $headerBorderColor;
  &__menu-btn {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
  }
  &__site-nav {
    display: flex;
    align-items: center;
  }
  &__nav {
    padding-top: 38px;
    padding-left: 25px;
    flex-grow: 1;
  }
  &__contacts {
    padding-left: 25px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 0px;
      padding-left: 0px;
      margin-left: auto;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row-reverse;
      margin-left: auto;
    }
  }
}

@media screen and(max-width: 767px) {
  .phone .header__contacts-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accentColor;
  }
  .mail .header__contacts-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.phone {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.mail {
  margin-bottom: 64px;
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.header__nav-item {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.header__nav-item:last-child {
  margin-bottom: 0px;
}
.header__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $primaryColor;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    transition: color $transitionDuration $timingFunction;
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}
.header__nav-link:hover,
.header__nav-item:focus {
  color: $accentColor;
}

@media screen and (max-width: 767px) {
  .header__mail-icon {
    display: none;
  }
  .header__phone-icon {
    display: none;
  }
  .menu-social {
    display: flex;
    padding-left: 25px;
    flex-wrap: wrap;

    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: $accentColor;
      text-decoration: none;
    }
    &__item {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
    &__item:last-child {
      border-right: none;
    }
    &__item:not(:first-child) {
      padding-left: 10px;
    }
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 15px;
    background-color: $lightColor;
    transform: translateX(100%);
    transition: transform $transitionDuration $timingFunction;
    z-index: 999;
  }
  .menu-container.is-open {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
  }
}
.menu-toggle {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  min-width: 40px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: $primaryColor;
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: $accentColor;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .header {
    height: 80px;
  }
  .header__menu-btn {
    display: none;
  }
  .header__nav {
    display: flex;

    align-items: center;
    padding: 0;
  }

  .menu-container {
    display: flex;
    position: static;
    flex-grow: 1;
  }
  .menu-social {
    display: none;
  }
  .phone .header__contacts-link,
  .mail .header__contacts-link {
    display: flex;
    align-items: center;
  }

  .header__phone-icon {
    height: 14px;
    fill: $secondaryColor;
    margin-right: 8px;
    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
      margin-right: 10px;
      transition: fill $transitionDuration $timingFunction;
      .header__nav-link:hover & {
        fill: $accentColor;
      }
    }
  }
  .header__mail-icon {
    width: 14px;
    height: 10px;
    fill: $secondaryColor;
    margin-right: 8px;
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
      margin-right: 10px;
      transition: fill $transitionDuration $timingFunction;
      .header__nav-link:hover & {
        fill: $accentColor;
      }
    }
  }
  .header__contacts-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $secondaryColor;
    text-align: center;
  }
  .header__nav-link.current {
    display: block;
    position: relative;
    color: $accentColor;
    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      background-color: $accentColor;
      position: absolute;
      left: 0;
      bottom: -32px;
      border-radius: 2px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }
  .header__nav {
    margin-right: 0;
  }
  .menu-container {
    flex-grow: 1;
  }
  .mail .header__contacts-link,
  .phone .header__contacts-link {
    color: $secondaryColor;
    transition: color $transitionDuration $timingFunction;
    &:hover {
      & svg {
        fill: $accentColor;
      }
      color: $accentColor;
    }
  }
}
