.logo {
  
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: $accentColor;
    &--black {
      color: $logoTextColor;
      
    }
    &--white {
      color: $lightColor;
    
  }
  @media screen and (min-width:1200px){
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $accentColor;
    &--black {
      color: $logoTextColor;
      
    }
    &--white {
      color: $lightColor;
    }

}
}