.team {
  
    background: $bcgColorCards;
    padding-bottom: 60px;
    padding-top: 60px;
    &__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.17;
      text-align: center;
      color: $primaryColor;
      margin-bottom: 0;
    }
    &__list {
      
      margin-top: 50px;
    }
    &__names {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      color: $primaryColor;
      margin-bottom: 10px;
    }
    &__position {
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      color: $secondaryColor;
      margin-bottom: 0;
    }
    &__overlay {
      padding-top: 30px;
      padding-bottom: 16px;
    
  }
  
  @media screen and (min-width:1200px){
    padding-bottom: 94px;
    &__list {
      display: flex;
  }
  &__title {
    font-size: 36px;
        
  }
}
}
.team__item {
  @media screen and (min-width:480px){
  height: 622px;
  margin-bottom: 30px;
  background: $lightColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:last-child {
    margin-bottom: 0;
  }
  }
  @media screen and (min-width:1200px){
    margin-right: 30px;
  background: $lightColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:last-child {
    margin-right: 0;
  }
  }



}