$primaryColor: #212121;
$secondaryColor: #757575;
$accentColor: #2196f3;
$bcgColor: #2f303a;
$lightColor: #fff;
$transitionDuration: 250ms;
$logoTextColor: #000000;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$headerBorderColor: #ececec;
$hoverColor: #188ce8;
$bcgColorCards: #f5f4fa;
$iconColor: #afb1b8;
$addressTextColor:rgba(255, 255, 255, 0.6);
$bcgIcon:rgba(255, 255, 255, 0.1)
